.richEditorWrapper {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 8px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
  }
  
  .richEditorWrapper textarea {
    width: 70%;
    height: auto;
    border: none;
    resize: vertical;
    outline: none;
    font-size: 14px;
    padding: 10px;
    font-family: inherit;
  }
  .editorContainer {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    background-color: #fff;
    margin: 10px 0;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    width: 90%;
  }
  
  /* Стили контента */
  .editorContainer .ProseMirror {
    outline: none;
    width: 90%;
    margin-right: 5%;
    line-height: 1.5;
  }
  