/* ✅ Контейнер Body Info */
.bodyInfoContainer {
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 8px;
}

/* ✅ Заголовок */
.sectionTitle {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* ✅ Карточки для каждого блока */
.infoBlock {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: #fff;
  margin-bottom: 5px;
}

/* ✅ Инпуты и текстареа */
.inputField,
.textareaField {
  width: 95%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.textareaField{

  height: 180px;
  resize: vertical;
}
.textareaFieldSection {
  width: 95%;
  resize: vertical;
  min-height: 50px;
}

/* ✅ Лейблы */
.label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

/* ✅ Кнопка Сохранить */
.saveButton {
  background-color: #28a745;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.saveButton:hover {
  background-color: #218838;
}
