/* Основной контейнер */
.container {
  padding: 30px;
  font-family: 'Montserrat', sans-serif;
  color: #000; /* Черный цвет текста для контейнера */
}

/* Заголовок секции */
.sectionTitle {
  font-size: 26px; /* Уменьшаем высоту заголовка */
  font-weight: bold;
  color: #000; /* Черный цвет для заголовков */
  margin-bottom: 20px;
  height: 50px; /* Задаем высоту для заголовка */
}

/* Подзаголовки */
.subTitle {
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #000; /* Черный цвет для подзаголовков */
  height: 50px; /* Уменьшаем высоту подзаголовков */
}
.previewImage{
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: 200px;
  border-radius: 5px;
}

/* Для текста в RichTextEditor */
.textareaField, .richTextEditorContainer {
  width: 95%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #fff; /* Белый фон */
  color: #000; /* Черный текст */
  font-size: 16px; /* Размер текста */
  line-height: 1.6; /* Интерлиния */
}

/* Заголовки в RichTextEditor */
.RichTextEditorContainer h1,
.RichTextEditorContainer h2,
.RichTextEditorContainer h3,
.RichTextEditorContainer h4 {
  color: #000; /* Черный цвет для заголовков */
  font-size: 26px; /* Уменьшаем высоту заголовков */
  font-weight: bold;
  height: 30px; /* Уменьшаем высоту заголовков */
}

/* Для других элементов редактора */
.RichTextEditorContainer p {
  color: #000; /* Черный цвет для текста */
  font-size: 16px;
  line-height: 1.6;
}

.missionContentBox p,
.missionContentBox h2 {
  margin-top: 10px;
  font-size: 16px;
}

/* Партнеры и другие элементы */
.saveButton,
.addButton,
.deleteButton {
  padding: 8px 14px;
  margin: 10px 10px 10px 0;
  background-color: #007a99;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.deleteButton {
  background-color: #992f2f;
}

.saveButton:hover,
.addButton:hover,
.deleteButton:hover {
  background-color: #009ec4;
}

.uploadButton {
  background-color: #007a99;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.hiddenInput {
  display: none;
}

/* Логотипы партнеров */
.partnerImage {
  width: 90%; /* Размер логотипа */
  max-height: 30px;
  object-fit: contain;
  margin-top: 10px;
  border-radius: 6px;
}

.partnerCard {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 75px; /* Задаем высоту логотипов */
  width: 75px;  /* Задаем ширину логотипов */
  overflow: hidden;
}
.volunteerImage {
width: 100px;
display: flex;
flex-direction: column;
margin: 10px 0;
}

.inputField{
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  height: 30px;
}
.volunteerCard{
   border: 1px solid black;
   margin: 10px 0;
   border-radius: 10px;
   padding: 10px;
}